# Backend
backend/venv/
backend/pyenv.cfg
backend/__pycache__/
backend/client_secrets.json


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?